<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    @Url.StylesheetLinkTag("Site.css")
    @Url.StylesheetLinkTag("themes/base/jquery.ui.all.css")
    @Url.StylesheetLinkTag("prettify.css")
    @Url.StylesheetLinkTag("paginate.css")
    @Url.JavascriptIncludeTag("jquery-1.5.1.min.js")
    @Url.JavascriptIncludeTag("jquery-ui-1.8.11.min.js")
    @Url.JavascriptIncludeTag("jquery.watermark.min.js")
    @Url.JavascriptIncludeTag("ace-0.1.6/ace.js")
    @Url.JavascriptIncludeTag("ace-0.1.6/theme-clouds.js")
    @Url.JavascriptIncludeTag("prettify/prettify.js")
    @Url.JavascriptIncludeTag("jquery.paginate.js")
    <script type="text/javascript">
        $(function () {
            $('a.button').button();
            prettyPrint();
        });
    </script>
    @RenderSection("head", false)
</head>
<body>
    <div class="header">
        <div class="wrapper">
            <div class="content">
                <a href="@Url.Action("Index", "Home")">
                    <img src="@Url.Content("~/Content/images/logo.png")" alt="logo" style="border: none;" />
                </a>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="content">
            <div class="left_column">
                @{
                    var dict = Session["flash"] as Dictionary<string, string>;
                    if (dict != null)
                    {
                        foreach (KeyValuePair<string, string> pair in dict.Where(kvp => kvp.Key == "notice"))
                        {
                    <div class="ui-widget" style="margin-bottom: 10px;">
                        <div class="ui-state-highlight ui-corner-all" style="padding: 0 .7em;">
                            <p>
                                <span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span><strong>Notice!</strong> @pair.Value</p>
                        </div>
                    </div>
                        }
                        Session.Remove("flash");
                    }    
                }
                @RenderBody()
            </div>
            <div class="right_column">
                @Html.ActionLink("Add Geaket!", "Create", "Geakets", null, new { @class = "button", @style = "width: 100%; font-weight: bold;" })
                <div style="margin-top: 10px;">
                    <iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fapps%2Fapplication.php%3Fid%3D160901977301120&amp;width=300&amp;colorscheme=light&amp;show_faces=true&amp;stream=false&amp;header=true&amp;height=290" scrolling="no" frameborder="0" style="border: none; overflow: hidden; width: 300px; height: 290px;" allowtransparency="true"></iframe>
                </div>
            </div>
            <div class="clear">
            </div>
        </div>
    </div>
</body>
</html>
