@model List<Geakets.Models.Geaket>
@{
    ViewBag.Title = "Latest Geakets";
}
<script type="text/javascript">
    $(function () {
        $('.geaket:odd').css({ backgroundColor: "whitesmoke" });
    });
</script>
<div class="ui-widget ui-corner-all" style="">
    <div class="ui-widget-header ui-corner-all" style="">
        <span>Latest Geakets</span>
    </div>
    <div class="ui-widget-content-no-border" style="">
        @foreach (var g in Model)
        {
            <div style="margin: 0 0 10px 0; padding: 10px;" class="geaket ui-widget ui-corner-all">
                <div style="float: left; font-size: 1.5em;">
                    <a href="@(Url.GeaketUrl(g.Id, g.Title))">@g.Title</a></div>
                <div style="float: right;">@g.UpdatedAt.TimeAgoInWords()</div>
                <div class="clear">
                </div>
                <pre style="background-color: transparent; overflow: auto; clear: both; margin: 5px 0;" class="prettyprint">@g.Code</pre>
                <div style="float: left;">
                    <span>views(4) | comments(4)</span>
                    <!-- AddThis Button BEGIN -->
                    <div addthis:url="@(Url.GeaketUrl(g.Id, g.Title))" class="addthis_toolbox addthis_default_style" style="display: block; margin-top: 5px;">
                        <a class="addthis_counter addthis_pill_style"></a>
                    </div>
                    <script type="text/javascript">                        var addthis_config = { "data_track_clickback": true, "ui_click": true };</script>
                    <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4eb6cefd5fb095db"></script>
                    <!-- AddThis Button END -->
                </div>
                <div style="float: right;">
                    <img src="@(Url.GravatarUrl(g.User.Email, 32))" alt="@g.User.Name" style="float: left;" />
                    <div style="margin-left: 37px; font-size: 12px; line-height: 16px;">@g.User.Name</div>
                    <div style="margin-left: 37px; font-size: 12px; line-height: 16px;">
                        geakets(@g.User.Geakets.Count())</div>
                </div>
                <div class="clear">
                </div>
            </div>
        }
        <center>
            <form action="" method="get">
                <input id="page" name="page" type="hidden" value="" />
            </form>
            <div id="pagination" style="text-align: center;">
            </div>
            <script type="text/javascript">
                $(function () {
                    $("#pagination").paginate({
                        count: @ViewBag.PageCount,
                        start: @ViewBag.CurrentPage,
                        display: @ViewBag.PageSize,
                        border: true,
                        border_color: '#BEF8B8',
                        text_color: '#68BA64',
                        background_color: '#E3F2E1',
                        border_hover_color: '#68BA64',
                        text_hover_color: 'black',
                        background_hover_color: '#CAE6C6',
                        rotate: false,
                        images: false,
                        mouse: 'press',
                        onChange: function (page) {
                            $('#page').val(page).parent().submit();
                        }
                    });
                });
            </script>
        </center>
    </div>
</div>
