@model Geakets.Models.Geaket
@{
    ViewBag.Title = "Details";
    Geaket g = Model;
}
<div id="fb-root">
</div>
<script type="text/javascript">    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) { return; }
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=160901977301120";
        fjs.parentNode.insertBefore(js, fjs);
    } (document, 'script', 'facebook-jssdk'));</script>
<div style="margin: 0 0 10px 0; background-color: whitesmoke; padding: 10px;" class="ui-widget ui-corner-all">
    <div style="float: left; font-size: 1.5em;">
        <a href="@(Url.GeaketUrl(g.Id, g.Title))">@g.Title</a></div>
    <div style="float: right;">@g.UpdatedAt.TimeAgoInWords()</div>
    <div class="clear">
    </div>
    <pre style="background-color: transparent; overflow: auto; clear: both; margin: 5px 0;" class="prettyprint">@g.Code</pre>
    <div style="float: left;">
        <span>views(4) | comments(4)</span>
        <!-- AddThis Button BEGIN -->
        <div addthis:url="@(Url.GeaketUrl(g.Id, g.Title))" class="addthis_toolbox addthis_default_style" style="display: block; margin-top: 5px;">
            <a class="addthis_counter addthis_pill_style"></a>
        </div>
        <script type="text/javascript">            var addthis_config = { "data_track_clickback": true, "ui_click": true };</script>
        <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4eb6cefd5fb095db"></script>
        <!-- AddThis Button END -->
    </div>
    <div style="float: right;">
        <img src="@(Url.GravatarUrl(g.User.Email, 32))" alt="@g.User.Name" style="float: left;" />
        <div style="margin-left: 37px; font-size: 12px; line-height: 16px;">@g.User.Name</div>
        <div style="margin-left: 37px; font-size: 12px; line-height: 16px;">
            geakets(@g.User.Geakets.Count())</div>
    </div>
    <div class="clear">
    </div>
</div>
<div class="fb-comments" data-href="@(Url.GeaketUrl(g.Id, g.Title))" data-num-posts="2" data-width="630"></div>
